In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [2]:
fitness_df = pd.read_csv("Resources/Project_Fitness.csv")
fitness_df.head()

,date,step_count,mood,calories_burned,hours_of_sleep,bool_of_active,weight_kg
0,10/6/17,5464,200,181,5,0,66
1,10/7/17,6041,100,197,8,0,66
2,10/8/17,25,100,0,5,0,66
3,10/9/17,5461,100,174,4,0,66
4,10/10/17,6915,200,223,5,500,66

In [3]:
fitness_df = fitness_df.rename(columns={'bool_of_active': 'active_status', 'weight_kg': 'weight_lbs'})
fitness_df.head()

,date,step_count,mood,calories_burned,hours_of_sleep,active_status,weight_lbs
0,10/6/17,5464,200,181,5,0,66
1,10/7/17,6041,100,197,8,0,66
2,10/8/17,25,100,0,5,0,66
3,10/9/17,5461,100,174,4,0,66
4,10/10/17,6915,200,223,5,500,66

In [4]:
for i in range(len(fitness_df['mood'])):
    if fitness_df['mood'][i] == 300:
        fitness_df.at[i,'moods'] = 'Happy'
    elif fitness_df['mood'][i] == 200:
        fitness_df.at[i,'moods'] = 'Neutral'
    elif fitness_df['mood'][i] == 100:
        fitness_df.at[i,'moods'] = 'Sad'
    else:
        print('error')

fitness_df = fitness_df.drop('mood', axis=1)

fitness_df.head()

,date,step_count,calories_burned,hours_of_sleep,active_status,weight_lbs,moods
0,10/6/17,5464,181,5,0,66,Neutral
1,10/7/17,6041,197,8,0,66,Sad
2,10/8/17,25,0,5,0,66,Sad
3,10/9/17,5461,174,4,0,66,Sad
4,10/10/17,6915,223,5,500,66,Neutral

In [5]:
for i in range(len(fitness_df['active_status'])):
    if fitness_df['active_status'][i] == 0:
        fitness_df.at[i,'activity_status'] = 'Inactive'
    elif fitness_df['active_status'][i] == 500:
        fitness_df.at[i,'activity_status'] = 'Active'
    else:
        print('error')
        
fitness_df = fitness_df.drop('active_status', axis=1)
        
fitness_df.head()

,date,step_count,calories_burned,hours_of_sleep,weight_lbs,moods,activity_status
0,10/6/17,5464,181,5,66,Neutral,Inactive
1,10/7/17,6041,197,8,66,Sad,Inactive
2,10/8/17,25,0,5,66,Sad,Inactive
3,10/9/17,5461,174,4,66,Sad,Inactive
4,10/10/17,6915,223,5,66,Neutral,Active

In [6]:
fitness_df['weight_lbs'] = round((fitness_df['weight_lbs']*2.20462),2)
fitness_df.head()

,date,step_count,calories_burned,hours_of_sleep,weight_lbs,moods,activity_status
0,10/6/17,5464,181,5,145.5,Neutral,Inactive
1,10/7/17,6041,197,8,145.5,Sad,Inactive
2,10/8/17,25,0,5,145.5,Sad,Inactive
3,10/9/17,5461,174,4,145.5,Sad,Inactive
4,10/10/17,6915,223,5,145.5,Neutral,Active

In [8]:
step_count_mean = fitness_df.groupby(['activity_status']).mean()['step_count']
step_count_median = fitness_df.groupby(['activity_status']).median()['step_count']
step_count_variance = fitness_df.groupby(['activity_status']).var()['step_count']
step_count_standard_deviation = fitness_df.groupby(['activity_status']).std()['step_count']

step_count_stats = pd.DataFrame({"Step Count Mean" : step_count_mean,
                                    "Step Count Median" : step_count_median,
                                    "Step Count Variance" : step_count_variance,
                                    "Step Count Standard Deviation" : step_count_standard_deviation})

step_count_stats = step_count_stats[["Step Count Mean", 
                                            "Step Count Median",
                                            "Step Count Variance",
                                            "Step Count Standard Deviation"]]

step_count_stats.head()

,Step Count Mean,Step Count Median,Step Count Variance,Step Count Standard Deviation
activity_status,,,,
Active,3226.571429,3362.0,5.010156e+06,2238.337734
Inactive,2709.888889,2486.5,4.239923e+06,2059.107323

In [12]:
print(f'The more steps he takes the more active he is.')

The more steps he takes the more active he is.

In [9]:
step_count_mean = fitness_df.groupby(['moods']).mean()['step_count']
step_count_median = fitness_df.groupby(['moods']).median()['step_count']
step_count_variance = fitness_df.groupby(['moods']).var()['step_count']
step_count_standard_deviation = fitness_df.groupby(['moods']).std()['step_count']

step_count_mood_stats = pd.DataFrame({"Step Count Mean" : step_count_mean,
                                    "Step Count Median" : step_count_median,
                                    "Step Count Variance" : step_count_variance,
                                    "Step Count Standard Deviation" : step_count_standard_deviation})

step_count_mood_stats = step_count_mood_stats[["Step Count Mean", 
                                            "Step Count Median",
                                            "Step Count Variance",
                                            "Step Count Standard Deviation"]]

step_count_mood_stats.head()

,Step Count Mean,Step Count Median,Step Count Variance,Step Count Standard Deviation
moods,,,,
Happy,3392.725000,4048.5,4.473253e+06,2115.006540
Neutral,3153.777778,3066.0,4.375466e+06,2091.761446
Sad,2103.068966,1258.0,4.231300e+06,2057.012361

In [13]:
print(f'The more active he is the higher his mood is.')

The more active he is the higher his mood is.

In [11]:
hours_of_sleep_mean = fitness_df.groupby(['moods']).mean()['hours_of_sleep']
hours_of_sleep_median = fitness_df.groupby(['moods']).median()['hours_of_sleep']
hours_of_sleep_variance = fitness_df.groupby(['moods']).var()['hours_of_sleep']
hours_of_sleep_standard_deviation = fitness_df.groupby(['moods']).std()['hours_of_sleep']

sleep_vs_mood_stats = pd.DataFrame({"Hours of Sleep Mean" : hours_of_sleep_mean,
                                    "Hours of Sleep Median" : hours_of_sleep_median,
                                    "Hours of Sleep Variance" : hours_of_sleep_variance,
                                    "Hours of Sleep Standard Deviation" : hours_of_sleep_standard_deviation})

sleep_vs_mood_stats = sleep_vs_mood_stats[["Hours of Sleep Mean", 
                                            "Hours of Sleep Median",
                                            "Hours of Sleep Variance",
                                            "Hours of Sleep Standard Deviation"]]

sleep_vs_mood_stats.head()

,Hours of Sleep Mean,Hours of Sleep Median,Hours of Sleep Variance,Hours of Sleep Standard Deviation
moods,,,,
Happy,5.725000,5.5,2.204487,1.484752
Neutral,4.666667,5.0,1.538462,1.240347
Sad,5.034483,5.0,2.605911,1.614284

In [14]:
print(f'The more sleep he gets the happier he is.')

The more sleep he gets the happier he is.